:root{
--main-text: #757575;
--text-header:#212121;
--text-accent:#2196F3;
}
body{
    background-color: #F5F5F5;  
    color: var(--main-text);
    font-family: 'Roboto' , sans-serif;
    letter-spacing: 0.03em;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        margin-top: 24px;
        margin-left: 215px;
}

ul{list-style: none;}

a{text-decoration: none;}
cursor:pointer;
.logo {
    text-decoration: none;
    color: black;
    font-family: 'Raleway';
    letter-spacing: 0.03em;
}

.accent{
color: var(--text-accent);
}
/* Site nav  */
.nav-site,
.nav-site-link{
 color: var(--text-header);
 
}

.nav-site , .nav-site-link:hover ,
.nav-site , .nav-site-link:focus {

color: var(--text-accent);
}

.nav-site-link.current{
color: var(--text-accent);
}
/* Nav-contact */

.nav-contacts , .nav-contacts-tel {
 color: var(--text-header);
}

.nav-contacts, .nav-contacts-tel:hover ,
.nav-contacts, .nav-contacts-tel:focus {
    color: var(--text-accent);
}
/* hero */
/* .hero{
position: absolute;
    width: 1600px;
    height: 600px;
    background: #2F303A
}
h1{
    color: #FFFFFF;
    position: absolute;
   
   */     

.hero-button{
background: var(--text-accent);
    color: #FFFFFF;} 

    /* benifits */
.title-benifits{
color: var(--text-header);
  }
  .text-benifits {
    color: var(--main-text);
  }




  /* PORTFOLIO */
.filtr-tab{
color: var(--text-header);
background-color: F5F4FA;
  }

.filtr-tab:hover,
.filtr-tab:focus {
      background-color: var(--text-accent);
      color: #FFFFFF;}

.filtr-tab.current{
background-color: var(--text-accent);
color: #FFFFFF;}